.tabella{

}

.titoli{
	
	background-color: #ad7f42;
    color: white;
}

td{
	
	border: solid 1px black
	
}

tr{
	border: solid 1px black
}

table{
	margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2em;
}